@charset "UTF-8";
* {
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

html {
  font-size: 16px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  color: #fff;
  letter-spacing: 0.1rem;
  line-height: 2.25;
}

body {
  background-color: #111;
  position: relative;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

button {
  cursor: pointer;
}

.m-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-button--right {
  justify-content: flex-end;
}

.m-button--left {
  justify-content: flex-start;
}

.m-button__link {
  display: inline-block;
  border-radius: 25em;
  width: 100%;
  padding-bottom: 4px;
  border: 2px solid #fff;
  text-decoration: none;
}
@media screen and (min-width: 769px) {
  .m-button__link {
    min-width: 340px;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.m-button__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px 36px;
  border-radius: 25em;
  border-bottom: 2px solid #fff;
}
@media screen and (min-width: 769px) {
  .m-button__inner {
    padding: 22px 47px;
  }
}
.m-button__inner::after {
  position: absolute;
  content: "";
  width: 13px;
  height: 11px;
  background-image: url("../img/icon_common_06.svg");
  transform: translateY(-50%);
  top: 50%;
  right: 33px;
}

.m-button__text {
  font-size: calc(12 / 16 * 1rem);
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
}
@media screen and (min-width: 769px) {
  .m-button__text {
    font-size: calc(16 / 16 * 1rem);
  }
}

.m-button--nonMark :where(.m-button__inner)::after {
  display: none;
}

.m-button--bg .m-button__link {
  background-color: #111;
}

.m-menu__contents {
  position: relative;
}

.m-menu__contentsBubble {
  position: absolute;
  top: -24px;
  left: -22px;
}
@media screen and (min-width: 769px) {
  .m-menu__contentsBubble {
    top: -24px;
    left: -22px;
  }
}

.m-menu__media :where(img) {
  vertical-align: bottom;
  border-radius: 10px;
}
@media screen and (min-width: 769px) {
  .m-menu__media :where(img) {
    border-radius: 20px;
  }
}

.m-menu__text {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  margin-top: 8px;
}

.m-menu__textMenu,
.m-menu__price {
  font-size: calc(12 / 16 * 1rem);
  font-weight: bold;
}

.m-menu__textMenu {
  line-height: 1.8;
}

.m-menu__price {
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  line-height: 1;
}

.m-list {
  margin-top: 32px;
}

.m-list__item {
  font-size: calc(12 / 16 * 1rem);
  position: relative;
  padding-left: 16px;
}
.m-list__item::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #fff;
  left: 0;
  top: 9px;
  border-radius: 25em;
}
@media screen and (min-width: 769px) {
  .m-list__item {
    font-size: calc(16 / 16 * 1rem);
  }
  .m-list__item::before {
    top: 14px;
  }
}

.m-list-desc {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 10px 20px;
}

.m-list-descItem {
  display: contents;
}

.m-newLine {
  display: inline-block;
}

.m-cta__heading {
  text-align: center;
}

.m-cta__headingInner {
  font-size: calc(20 / 16 * 1rem);
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 36px;
  margin: 0 auto;
  line-height: 1.3;
  text-align: center;
}
@media screen and (min-width: 769px) {
  .m-cta__headingInner {
    font-size: calc(34 / 16 * 1rem);
  }
}
.m-cta__headingInner::after, .m-cta__headingInner::before {
  position: absolute;
  content: "";
  width: 3px;
  height: 150%;
  bottom: -10px;
  background-color: #fff;
  border-radius: 25em;
}
.m-cta__headingInner::after {
  rotate: 20deg;
  right: 0;
}
.m-cta__headingInner::before {
  rotate: -20deg;
  left: 0;
}

.m-cta__headingSmall {
  font-size: calc(16 / 16 * 1rem);
}
@media screen and (min-width: 769px) {
  .m-cta__headingSmall {
    font-size: calc(26 / 16 * 1rem);
  }
}

.m-cta-layout {
  margin-top: 36px;
  display: grid;
}
@media screen and (max-width: 768px) {
  .m-cta-layout {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "grid01 grid01" "grid02 grid02" "grid03 grid03" "grid04 grid04" "grid05 grid06";
    gap: 24px 8px;
  }
}
@media screen and (min-width: 769px) {
  .m-cta-layout {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: clamp(16px, 3.83vw, 46px);
  }
}

.m-cta__item {
  border-radius: 10px;
  background-color: #222;
}
.m-cta__item.border {
  position: relative;
  border: 1px solid #fff;
  padding-bottom: 6px;
}
.m-cta__item.border::after {
  position: absolute;
  content: "";
  width: 9px;
  height: 7px;
  background-image: url("../img/icon_common_06.svg");
  background-size: contain;
  top: 50%;
  right: 6px;
}
@media screen and (min-width: 769px) {
  .m-cta__item.border::after {
    right: 20px;
  }
}
@media screen and (min-width: 769px) {
  .m-cta__item {
    border-radius: 20px;
  }
}

.m-cta__itemInner {
  border-radius: 10px;
  height: 100%;
  padding: 30px 0;
}
.border .m-cta__itemInner {
  border-bottom: 1px solid #fff;
}
@media screen and (min-width: 769px) {
  .m-cta__itemInner {
    border-radius: 20px;
  }
}

.m-cta__itemContents {
  padding: 0 12px;
  height: 100%;
  max-width: 280px;
  margin-inline: auto;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 769px) {
  .m-cta__itemContents {
    font-size: calc(20 / 16 * 1rem);
  }
}

.m-cta__reserveTitle {
  line-height: 1;
  text-align: center;
  font-size: calc(16 / 16 * 1rem);
}
@media screen and (min-width: 769px) {
  .m-cta__reserveTitle {
    font-size: calc(20 / 16 * 1rem);
  }
}

.m-cta__reserveContents {
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-template-columns: repeat(2, max-content);
  gap: 8px 12px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 12px auto 0;
}
.m-cta__reserveContents::before {
  content: "";
  width: 30px;
  height: 45px;
  background-image: url("../img/icon_common_04.svg");
  grid-row: 1/3;
  margin-top: auto;
}

.m-cta__number,
.m-cta__time {
  line-height: 1;
}

.m-cta__number {
  font-size: calc(16 / 16 * 1rem);
  font-weight: bold;
}
@media screen and (min-width: 769px) {
  .m-cta__number {
    font-size: calc(20 / 16 * 1rem);
  }
}
.m-cta__number :where(b) {
  font-size: calc(30 / 16 * 1rem);
}

.m-cta__time {
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: calc(12 / 16 * 1rem);
}
@media screen and (min-width: 769px) {
  .m-cta__time {
    font-size: calc(14 / 16 * 1rem);
  }
}

.m-cta__contactTitle {
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
  font-size: calc(14 / 16 * 1rem);
  font-weight: bold;
}
@media screen and (min-width: 769px) {
  .m-cta__contactTitle {
    font-size: calc(16 / 16 * 1rem);
  }
}
.m-cta__contactTitle :where(img) {
  flex: 0 0 auto;
  width: 37px;
}
.m-cta__contactTitle :where(b) {
  font-size: calc(18 / 16 * 1rem);
}
@media screen and (min-width: 769px) {
  .m-cta__contactTitle :where(b) {
    font-size: calc(22 / 16 * 1rem);
  }
}

.m-cta__contactText {
  font-size: calc(18 / 16 * 1rem);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: clamp(8px, 8.86%, 36px);
  font-weight: bold;
  line-height: 1;
  margin-top: 4px;
}
@media screen and (min-width: 769px) {
  .m-cta__contactText {
    font-size: calc(20 / 16 * 1rem);
  }
}
.m-cta__contactText :where(img) {
  width: auto;
  height: 100%;
}

.m-cta__shopText {
  font-size: calc(10 / 16 * 1rem);
  line-height: 1.6;
  text-align: center;
}
@media screen and (min-width: 769px) {
  .m-cta__shopText {
    font-size: calc(18 / 16 * 1rem);
  }
}
.m-cta__shopText :where(ruby) {
  margin-left: -16px;
  margin-right: -6px;
}
.m-cta__shopText :where(b) {
  font-size: calc(14 / 16 * 1rem);
}
@media screen and (min-width: 769px) {
  .m-cta__shopText :where(b) {
    font-size: calc(22 / 16 * 1rem);
  }
}
.m-cta__shopText :where(rt) {
  font-size: calc(8 / 16 * 1rem);
}

@media screen and (max-width: 768px) {
  .grid01 {
    grid-area: grid01;
  }
  .grid02 {
    grid-area: grid02;
  }
  .grid03 {
    grid-area: grid03;
  }
  .grid04 {
    grid-area: grid04;
  }
  .grid05 {
    grid-area: grid05;
  }
  .grid06 {
    grid-area: grid06;
  }
}
.l-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100vw;
}
.l-header.is-active {
  z-index: 101;
}

.l-header__inner {
  padding: 60px 40px 0;
  max-width: 1200px;
  box-sizing: content-box;
  margin-inline: auto;
}
@media screen and (min-width: 769px) {
  .l-header__inner {
    padding: 80px 80px 0;
  }
}

.l-header__layout {
  display: flex;
  justify-content: space-between;
}

.l-header__media {
  width: 50%;
  display: none;
}
@media screen and (min-width: 769px) {
  .l-header__media {
    display: block;
  }
}
.l-header__media :where(img) {
  border-radius: 10px;
}

.l-header__logo,
.l-header__infoLogo {
  width: 70px;
}
@media screen and (min-width: 769px) {
  .l-header__logo,
  .l-header__infoLogo {
    width: 125px;
  }
}
.l-header__logo :where(img),
.l-header__infoLogo :where(img) {
  vertical-align: bottom;
}

.l-header__contents {
  display: none;
  position: absolute;
  width: 100vw;
  left: 0;
  top: 0;
  background-color: #111;
  height: 100vh;
}
.is-active .l-header__contents {
  display: block;
}

.l-header__contentsInner {
  display: flex;
  -moz-column-gap: 5%;
       column-gap: 5%;
  padding: 60px 40px 0;
  margin-inline: auto;
}
@media screen and (min-width: 769px) {
  .l-header__contentsInner {
    padding: 80px 80px 0;
  }
}

.l-header__button {
  position: relative;
  background-color: inherit;
  border: none;
  background-image: url("../../common/img/icon_common_07.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  color: #fff;
  padding: 0;
  z-index: 1;
}
@media screen and (min-width: 769px) {
  .l-header__button {
    width: 56px;
    height: 50px;
  }
}
.is-active .l-header__button {
  background-image: url("../../common/img/icon_common_10.svg");
}

.l-header__buttonText {
  display: inline-block;
  padding-top: 23px;
}

.l-header__infoInner {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
  align-items: center;
}

.l-header__info {
  width: 100%;
}
@media screen and (min-width: 769px) {
  .l-header__info {
    width: 50%;
  }
}

.l-header__info {
  width: 100%;
}
@media screen and (min-width: 769px) {
  .l-header__info {
    width: 50%;
  }
}

.l-header__list {
  display: none;
  -moz-column-gap: 25px;
       column-gap: 25px;
  align-items: center;
}
@media screen and (min-width: 769px) {
  .l-header__list {
    display: flex;
  }
}

.l-header__link {
  width: 20px;
}

@media screen and (min-width: 769px) {
  .l-header__nav {
    position: relative;
    height: 100%;
    width: 100%;
  }
}

.l-header__navList {
  display: flex;
  width: 100%;
  margin-top: 100px;
  gap: 36px;
  flex-direction: column;
}
@media screen and (min-width: 769px) {
  .l-header__navList {
    position: absolute;
    top: 22%;
    gap: 40px;
    margin-top: 0;
    flex-direction: row;
  }
}

.l-header__navRight,
.l-header__navLeft {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
@media screen and (min-width: 769px) {
  .l-header__navRight,
  .l-header__navLeft {
    width: calc((100% - 36px) / 2);
  }
}

.l-header__navItem {
  display: flex;
  flex-direction: column;
}

.l-header__navLink {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.l-header__navText {
  color: #fff;
  font-size: calc(16 / 16 * 1rem);
  line-height: 1.4;
}
@media screen and (min-width: 769px) {
  .l-header__navText {
    font-size: calc(22 / 16 * 1rem);
  }
}

.l-header__navSubText {
  color: #999;
  font-size: calc(12 / 16 * 1rem);
  line-height: 1.4;
}

.m-newWindowIcon {
  width: 22px;
  display: inline-block;
  margin-left: 16px;
  vertical-align: middle;
}

.m-mv {
  position: relative;
  z-index: 100;
  max-width: 916px;
  margin-inline: auto;
  box-sizing: content-box;
  width: calc(100% - 70px - 40px - 100px);
}
@media screen and (min-width: 769px) {
  .m-mv {
    width: calc(100% - 125px - 56px - 220px);
  }
}

.m-mv__inner {
  margin-inline: auto;
}
@media screen and (min-width: 769px) {
  .m-mv__inner {
    font-size: calc(16 / 16 * 1rem);
  }
  .m-mv__inner::before {
    top: 14px;
  }
}

.m-mv__heading {
  padding: 60px 0 0;
}
@media screen and (min-width: 769px) {
  .m-mv__heading {
    padding: 80px 0 0;
  }
}

.m-mv__headingText,
.m-mv__headingSubText {
  text-align: center;
  line-height: 1;
}

.m-mv__headingText {
  font-size: calc(24 / 16 * 1rem);
}
@media screen and (min-width: 769px) {
  .m-mv__headingText {
    font-size: calc(36 / 16 * 1rem);
  }
}

.m-mv__headingSubText {
  font-size: calc(14 / 16 * 1rem);
  margin-top: 8px;
}

.m-mv__text {
  margin: 64px calc(50% - 50vw) 0;
  width: 100vw;
  text-align: center;
  padding: 0 40px;
}
@media screen and (min-width: 769px) {
  .m-mv__text {
    margin-top: 84px;
    padding: 0 80px;
  }
}

.m-mv__textItem {
  font-size: calc(12 / 16 * 1rem);
}
@media screen and (min-width: 769px) {
  .m-mv__textItem {
    font-size: calc(14 / 16 * 1rem);
  }
}

.m-heading-type2 {
  font-size: calc(22 / 16 * 1rem);
}
@media screen and (min-width: 769px) {
  .m-heading-type2 {
    font-size: calc(28 / 16 * 1rem);
    text-align: center;
  }
}

.l-footer {
  background-color: #111;
  padding: 80px 40px 120px;
  box-sizing: content-box;
}
@media screen and (min-width: 769px) {
  .l-footer {
    padding: 128px 80px 180px;
  }
}

.l-footer__inner {
  max-width: 600px;
  margin-inline: auto;
}

.l-footer__logoLink {
  width: 70px;
  display: block;
  margin-inline: auto;
}
@media screen and (min-width: 769px) {
  .l-footer__logoLink {
    width: 125px;
  }
}

.l-footer__sns {
  margin-top: 40px;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  gap: 24px;
}
@media screen and (min-width: 769px) {
  .l-footer__sns {
    width: 50px;
  }
}

.l-footer__snsItem {
  width: 20px;
  flex-shrink: 0;
}

.l-footer__nav {
  margin-top: 36px;
}
@media screen and (min-width: 769px) {
  .l-footer__nav {
    margin-top: 40px;
  }
}

.l-footer__navList {
  display: grid;
  gap: 8px;
}
@media screen and (min-width: 769px) {
  .l-footer__navList {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "gridItem01 gridItem04 gridItem06" "gridItem02 gridItem05 gridItem07" "gridItem03 . .";
    gap: 18px 24px;
  }
}

.l-footer__navItem {
  text-align: center;
}
@media screen and (min-width: 769px) {
  .l-footer__navItem {
    text-align: left;
  }
}

.l-footer__navLink {
  display: inline-block;
  height: 100%;
  padding: 0 8px;
}

@media screen and (min-width: 769px) {
  .gridItem01 {
    grid-area: gridItem01;
  }
  .gridItem02 {
    grid-area: gridItem02;
  }
  .gridItem03 {
    grid-area: gridItem03;
  }
  .gridItem04 {
    grid-area: gridItem04;
  }
  .gridItem05 {
    grid-area: gridItem05;
  }
  .gridItem06 {
    grid-area: gridItem06;
  }
  .gridItem07 {
    grid-area: gridItem07;
  }
}
.l-footer__navLink {
  text-decoration: none;
  font-size: calc(14 / 16 * 1rem);
  color: #fff;
}
@media screen and (min-width: 769px) {
  .l-footer__navLink {
    font-size: calc(16 / 16 * 1rem);
  }
}

.l-footer__copyright {
  margin-top: 36px;
  text-align: center;
  font-size: calc(12 / 16 * 1rem);
  color: #444;
}

.breadcrumbs {
  padding: 60px 40px 0;
  display: flex;
  justify-content: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  align-items: center;
  font-size: calc(14 / 16 * 1rem);
}
.breadcrumbs :where(*) {
  color: #444;
  text-decoration: none;
}
@media screen and (min-width: 769px) {
  .breadcrumbs {
    padding: 96px 80px 0;
  }
}

.m-breadcrumb__arrow {
  background-image: url("../../common/img/icon_common_14.svg");
  width: 9px;
  height: 7px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.m-shop {
  margin-top: 48px;
}
@media screen and (min-width: 769px) {
  .m-shop {
    margin-top: 80px;
  }
}

.m-shop__layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  grid-template-areas: "mainMedia" "info" "item01" "item02" "item03";
}
@media screen and (min-width: 769px) {
  .m-shop__layout {
    grid-template-columns: 60% 40%;
    grid-template-rows: 2fr repeat(2, 1fr) 2fr;
    grid-template-areas: "mainMedia item01" "mainMedia item02" "info item02" "info item03";
  }
}

.m-shop__mainMedia :where(img),
.m-shop__media :where(img) {
  vertical-align: bottom;
  border-radius: 10px;
}
@media screen and (min-width: 769px) {
  .m-shop__mainMedia :where(img),
  .m-shop__media :where(img) {
    border-radius: 20px;
  }
}

.m-shop__mainMedia {
  grid-area: mainMedia;
}

.m-shop__info {
  max-width: 570px;
  grid-area: info;
}

.m-shop__map {
  margin-top: 24px;
}

.m-shop__button {
  transform: translateY(-50%);
}

.m-shop__media :where(img) {
  border-radius: 10px;
}
@media screen and (min-width: 769px) {
  .m-shop__media :where(img) {
    border-radius: 20px;
  }
}
.m-shop__media.item01 {
  grid-area: item01;
}
.m-shop__media.item02 {
  grid-area: item02;
}
.m-shop__media.item02 {
  grid-area: item02;
}

.m-shop__mediaCaption {
  font-size: calc(14 / 16 * 1rem);
}

/*====================================================================
ページ共通スタイル
====================================================================*/
.l-content {
  background-position: center;
  background-size: cover;
  padding: 40px;
  box-sizing: content-box;
}
@media screen and (min-width: 769px) {
  .l-content {
    padding: 80px;
  }
}
.l-content.information {
  background-image: -webkit-image-set(url("../../img/img_index_03-sp.webp") type("image/webp"), url("../../img/img_index_03-sp.png") type("image/png"));
  background-image: image-set(url("../../img/img_index_03-sp.webp") type("image/webp"), url("../../img/img_index_03-sp.png") type("image/png"));
}
@media screen and (min-width: 769px) {
  .l-content.information {
    background-image: -webkit-image-set(url("../../img/img_index_03-pc.webp") type("image/webp"), url("../../img/img_index_03-pc.png") type("image/png"));
    background-image: image-set(url("../../img/img_index_03-pc.webp") type("image/webp"), url("../../img/img_index_03-pc.png") type("image/png"));
  }
}
.l-content.course {
  background-image: -webkit-image-set(url("../../img/img_index_22-sp.webp") type("image/webp"), url("../../img/img_index_22-sp.png") type("image/png"));
  background-image: image-set(url("../../img/img_index_22-sp.webp") type("image/webp"), url("../../img/img_index_22-sp.png") type("image/png"));
  background-size: 68%;
  background-position: top right;
  background-repeat: no-repeat;
}
@media screen and (min-width: 769px) {
  .l-content.course {
    background-image: -webkit-image-set(url("../../img/img_index_22-pc.webp") type("image/webp"), url("../../img/img_index_22-pc.png") type("image/png"));
    background-image: image-set(url("../../img/img_index_22-pc.webp") type("image/webp"), url("../../img/img_index_22-pc.png") type("image/png"));
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
  }
}
.l-content__inner {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: content-box;
}

.m-subTitle {
  color: #444;
  font-weight: bold;
  letter-spacing: 0.3rem;
  line-height: 1;
}
@media screen and (min-width: 769px) {
  .m-subTitle {
    font-size: calc(18 / 16 * 1rem);
  }
}

.mv {
  position: relative;
}

.mv__inner {
  display: grid;
  grid-template-rows: auto 60px;
}

.mv__listWrap {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.mv__pagination {
  grid-column: 1/-1;
  grid-row: 2/-1;
  position: relative;
  justify-content: center;
  z-index: 1;
  gap: 25px;
  align-items: start;
}
@media screen and (min-width: 769px) {
  .mv__pagination {
    justify-content: flex-start;
    padding-left: 80px;
    padding-bottom: 64px;
  }
}

.mv__paginationItem {
  width: 12px;
  height: 12px;
  border-radius: 25em;
  border: 3px solid #fff;
  background-color: transparent;
  padding: 0;
}
.mv__paginationItem.is-active {
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .mv__list {
    height: 100vh;
  }
}

.mv__item {
  height: 100%;
}

.mv__itemMedia :where(img) {
  height: 100%;
}

.mv__scroll {
  position: absolute;
  bottom: 100px;
  right: 10px;
}
@media screen and (min-width: 769px) {
  .mv__scroll {
    right: 32px;
    bottom: 40px;
  }
}
.mv__scroll::before {
  width: 184px;
  height: 350px;
  position: absolute;
  content: "";
  background-position: center;
  background-size: cover;
  right: 0;
  bottom: 100px;
  background-image: url("../../img/img_index_01.png");
}
@media screen and (min-width: 769px) {
  .mv__scroll::before {
    width: 28.84vw;
    height: 53.66vw;
    bottom: -21vw;
    right: 0;
  }
}

.mv__scrollText {
  background-image: url("../img/icon_common_01.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 42px;
  font-size: calc(0 / 16 * 1rem);
  position: absolute;
  bottom: 40px;
  right: 32px;
  z-index: 1;
}

.mv__media {
  position: absolute;
  width: 50vw;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 2;
}
@media screen and (min-width: 769px) {
  .mv__media {
    width: 42vw;
  }
}

.un-information__layout {
  display: grid;
  grid-template-columns: min-content minmax(0, 1fr);
  grid-template-rows: min-content auto 1fr;
  grid-template-areas: "heading sub-heading" "heading media" "contents contents";
  gap: 0 40px;
}
@media screen and (min-width: 769px) {
  .un-information__layout {
    grid-template-columns: 28px 47.6666666667% 49.6666666667%;
    grid-template-rows: 110px 1fr;
    grid-template-areas: "heading sub-heading media" "heading contents media";
    gap: 70px 0;
  }
}

.un-information__hading {
  grid-area: heading;
  font-size: calc(28 / 16 * 1rem);
  writing-mode: vertical-rl;
  font-weight: bold;
  letter-spacing: 0.4em;
  line-height: 2rem;
}
@media screen and (min-width: 769px) {
  .un-information__hading {
    margin-top: 90px;
  }
}

.un-information__subHeading {
  grid-area: sub-heading;
}
@media screen and (min-width: 769px) {
  .un-information__subHeading {
    margin-top: auto;
    margin-left: 72px;
  }
}

.un-information__media {
  position: relative;
  grid-area: media;
  margin-top: 38px;
}
@media screen and (min-width: 769px) {
  .un-information__media {
    margin-left: 80px;
  }
}

.un-information__mediaItem :where(img) {
  vertical-align: bottom;
  border-radius: 10px;
}
@media screen and (min-width: 769px) {
  .un-information__mediaItem :where(img) {
    border-radius: 20px;
  }
}

.un-information__contents {
  grid-area: contents;
  margin-top: 126px;
}
@media screen and (min-width: 769px) {
  .un-information__contents {
    margin-left: 72px;
    margin-top: 0;
  }
}

.un-information__textItem + .un-information__textItem {
  margin-top: 24px;
}

.un-information__mediaBubble {
  position: absolute;
  width: 192px;
  left: -47px;
  bottom: -96px;
}
@media screen and (min-width: 769px) {
  .un-information__mediaBubble {
    width: 212px;
    left: -280px;
    bottom: auto;
    top: -20px;
  }
}

.un-information__button {
  margin-top: 40px;
}

.un-menu__layout {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
@media screen and (min-width: 769px) {
  .un-menu__layout {
    flex-direction: row;
    row-gap: 0;
    -moz-column-gap: 50px;
         column-gap: 50px;
    align-items: flex-end;
  }
}

.m-menu__contents {
  position: relative;
}

.m-menu__media :where(img) {
  vertical-align: bottom;
  border-radius: 10px;
}
@media screen and (min-width: 769px) {
  .m-menu__media :where(img) {
    border-radius: 20px;
  }
}

.m-menu__contentsBubble {
  position: absolute;
  top: -24px;
  left: -22px;
}
@media screen and (min-width: 769px) {
  .m-menu__contentsBubble {
    top: -24px;
    left: -22px;
  }
}

.un-menu__left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "heading heading" "contents01 contents01" "contents02 contents03";
  gap: 24px;
}
@media screen and (min-width: 769px) {
  .un-menu__left {
    width: 54.7826086957%;
  }
}

.un-menu__heading {
  grid-area: heading;
  display: flex;
  flex-direction: column;
  -moz-column-gap: 24px;
       column-gap: 24px;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (min-width: 769px) {
  .un-menu__heading {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.un-menu__headingMain {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "text01 text03 text04" "text02 text03 text04";
}
@media screen and (min-width: 769px) {
  .un-menu__headingMain {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
.un-menu__headingMain :where([class^=un-menu__headingMainText]) {
  line-height: 1;
}

.un-menu__headingMainText01 {
  grid-area: text01;
  font-size: calc(12 / 16 * 1rem);
}

.un-menu__headingMainText2 {
  grid-area: text2;
  font-size: calc(26 / 16 * 1rem);
}

.un-menu__headingMainText03 {
  grid-area: text03;
  font-size: calc(50 / 16 * 1rem);
}

.un-menu__headingMainText04 {
  grid-area: text04;
  font-size: calc(24 / 16 * 1rem);
  display: flex;
  align-items: flex-end;
}

.un-menu__leftContents01 {
  grid-area: contents01;
  margin-top: 12px;
}
@media screen and (min-width: 769px) {
  .un-menu__leftContents01 {
    margin-top: 24px;
  }
}
.un-menu__leftContents01 :where(.m-menu__contentsBubble) {
  width: 76%;
}
@media screen and (min-width: 769px) {
  .un-menu__leftContents01 :where(.m-menu__contentsBubble) {
    width: 68%;
  }
}

.un-menu__leftContents02 {
  grid-area: contents02;
}
.un-menu__leftContents02 :where(.m-menu__contentsBubble) {
  width: 84%;
}
@media screen and (min-width: 769px) {
  .un-menu__leftContents02 :where(.m-menu__contentsBubble) {
    width: 55%;
  }
}

.un-menu__leftContents03 {
  grid-area: contents03;
}
.un-menu__leftContents03 :where(.m-menu__contentsBubble) {
  width: 76%;
}
@media screen and (min-width: 769px) {
  .un-menu__leftContents03 :where(.m-menu__contentsBubble) {
    width: 50%;
  }
}

.un-menu__headingSub {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 16px;
       column-gap: 16px;
  align-items: flex-end;
}
.un-menu__headingSub :where([class^=un-menu__heading]) {
  line-height: 1;
}

.un-menu__headingSubNotion {
  font-size: calc(12 / 16 * 1rem);
}

.un-menu__right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, min-content);
  grid-template-areas: "contents01 contents02" "contents03 contents03" "button button";
  gap: 36px 24px;
}
@media screen and (min-width: 769px) {
  .un-menu__right {
    width: 45.2173913043%;
  }
}

.un-menu__rightContents01 {
  grid-area: contents01;
}
.un-menu__rightContents01 :where(.m-menu__contentsBubble) {
  width: 56%;
}
@media screen and (min-width: 769px) {
  .un-menu__rightContents01 :where(.m-menu__contentsBubble) {
    width: 60%;
  }
}

.un-menu__rightContents02 {
  grid-area: contents02;
}
.un-menu__rightContents02 :where(.m-menu__contentsBubble) {
  width: 96%;
}
@media screen and (min-width: 769px) {
  .un-menu__rightContents02 :where(.m-menu__contentsBubble) {
    width: 78%;
  }
}

.un-menu__rightContents03 {
  grid-area: contents03;
}
.un-menu__rightContents03 :where(.m-menu__contentsBubble) {
  width: 56%;
}
@media screen and (min-width: 769px) {
  .un-menu__rightContents03 :where(.m-menu__contentsBubble) {
    width: 48%;
  }
}

.un-menu__button {
  grid-area: button;
}

.un-course {
  position: relative;
}

@media screen and (min-width: 769px) {
  .un-course__layout {
    display: grid;
    grid-template-columns: min-content minmax(0, 1fr);
    grid-template-areas: "heading contents";
    -moz-column-gap: 72px;
         column-gap: 72px;
    padding-top: clamp(20px, 9.59vw, 131px);
  }
}

.un-course__banner {
  margin-top: 8px;
}
@media screen and (min-width: 769px) {
  .un-course__banner {
    position: absolute;
    width: 63%;
    right: 0;
    top: 0;
  }
}

.un-course__heading {
  font-size: calc(28 / 16 * 1rem);
  line-height: 2rem;
}
@media screen and (min-width: 769px) {
  .un-course__heading :where(span) {
    display: inline-block;
    letter-spacing: -0.2em;
    rotate: 90deg;
  }
}

@media screen and (min-width: 769px) {
  .un-course__list {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
  }
  .un-course__list > :where(:nth-child(1)) {
    margin-top: 64px;
  }
  .un-course__list > :where(:nth-child(2)) {
    margin-top: 128px;
  }
  .un-course__list > :where(:nth-child(3)) {
    margin-top: 192px;
  }
  .un-course__list > :where(:nth-child(4)) {
    margin-top: 256px;
  }
}

.un-course__item {
  padding: 0 38px;
}
@media screen and (min-width: 769px) {
  .un-course__item {
    padding: 0;
  }
}

.un-course__itemHeading {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(2, min-content);
  grid-template-areas: "main number" "main price";
  -moz-column-gap: 16px;
       column-gap: 16px;
  line-height: 1;
  margin-top: 28px;
}
@media screen and (min-width: 769px) {
  .un-course__itemHeading {
    -moz-column-gap: 14.5%;
         column-gap: 14.5%;
    margin-top: 0;
  }
}

.un-course__itemHeadingMain {
  grid-area: main;
  font-size: calc(40 / 16 * 1rem);
}
@media screen and (min-width: 769px) {
  .un-course__itemHeadingMain {
    font-size: calc(60 / 16 * 1rem);
  }
}

.un-course__itemHeadingNumber {
  grid-area: number;
  font-size: calc(12 / 16 * 1rem);
  font-weight: bold;
}
.un-course__itemHeadingNumber :where(span) {
  font-size: calc(16 / 16 * 1rem);
}
@media screen and (min-width: 769px) {
  .un-course__itemHeadingNumber :where(span) {
    font-size: calc(20 / 16 * 1rem);
  }
}

.un-course__itemHeadingPrice {
  grid-area: price;
  font-size: calc(12 / 16 * 1rem);
  font-weight: bold;
}
.un-course__itemHeadingPrice :where(span) {
  font-size: calc(18 / 16 * 1rem);
}
@media screen and (min-width: 769px) {
  .un-course__itemHeadingPrice {
    font-size: calc(30 / 16 * 1rem);
  }
}

.un-course__itemList {
  margin-top: 32px;
}

.un-course__notion {
  font-size: calc(10 / 16 * 1rem);
  margin-top: 32px;
  color: #999;
}
@media screen and (min-width: 769px) {
  .un-course__notion {
    margin-top: 0;
    font-size: calc(12 / 16 * 1rem);
  }
}

.un-course__button {
  margin-top: 40px;
}
@media screen and (min-width: 769px) {
  .un-course__button {
    margin-top: 0;
  }
}

.un-course__carousel {
  position: relative;
}

.un-course__arrows {
  position: absolute;
  display: flex;
  justify-content: space-between;
  transform: translate(-50%);
  top: 50%;
  left: 50%;
  width: 100vw;
  z-index: 1;
}

.un-course__arrow {
  border: none;
  background-color: inherit;
}
.un-course__arrow :where(svg) {
  fill: #fff;
  width: 24px;
}

.un-course__prev :where(svg) {
  rotate: 180deg;
  transform-origin: 50% 50%;
}

.un-news {
  max-width: 800px;
  margin: 35px auto 0;
}
@media screen and (min-width: 769px) {
  .un-news {
    margin-top: 56px;
  }
}

.nu-news__list {
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
}

.un-news__item + .un-news__item {
  border-top: 1px solid #333;
}

.un-news__link {
  padding: 18px 0;
  display: flex;
  flex-direction: column;
  font-size: calc(14 / 16 * 1rem);
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
@media screen and (min-width: 769px) {
  .un-news__link {
    padding: 26px 16px;
    flex-direction: row;
    row-gap: 16px;
  }
}

@media screen and (min-width: 769px) {
  .un-news__date {
    width: 25%;
    letter-spacing: 0.4em;
    flex-shrink: 0;
  }
}

.un-news__text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.un-news__button {
  margin-top: 40px;
}
@media screen and (min-width: 769px) {
  .un-news__button {
    margin-top: 64px;
  }
}

.nu-guidance__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 46px;
  margin-top: 54px;
}
@media screen and (min-width: 769px) {
  .nu-guidance__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 6.666%;
    margin-top: 36px;
  }
}

.un-guidance__media :where(img) {
  vertical-align: bottom;
  border-radius: 10px;
}
@media screen and (min-width: 769px) {
  .un-guidance__media :where(img) {
    border-radius: 20px;
  }
}

.un-guidance__contents {
  margin-top: 30px;
}

.un-guidance__itemHeading {
  font-size: calc(18 / 16 * 1rem);
}
@media screen and (min-width: 769px) {
  .un-guidance__itemHeading {
    font-size: calc(22 / 16 * 1rem);
  }
}

.un-guidance__info {
  margin-top: 28px;
}

.un-guidance__button {
  margin-top: 28px;
}
@media screen and (min-width: 769px) {
  .un-guidance__button {
    margin-top: 62px;
  }
}