@use '../base' as base;
@use '../mixin' as mixin;

/*====================================================================
ページ共通スタイル
====================================================================*/

// un-menuIndex
//=====================================
.un-menuIndex {
    :where(.m-menu__contentsBubble) {
        @include mixin.media(pc) {
            top: -60px;
            left: -30px;
        }
    }
}

.un-menuIndex__layout {
    display: grid;
    gap: 32px;
    margin-top: 42px;
    
    @include mixin.media(pc) {
        margin-top: 56px;
        gap: clamp(16px, 5.33vw, 64px);
    }

    @for $i from 1 through 4 { 
        &:where(.col-0#{$i}) {
            @include mixin.media(pc) {
                grid-template-columns: repeat(#{$i}, 1fr);
                grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
            }
        }
    }
}

.un-menuIndex__button {
    margin-top: 48px;
}


// un-menu-nonAlcohol
//=====================================

.un-menu-nonAlcohol {
    display: grid;
    row-gap: 20px;
    
    @include mixin.media(pc) {
        grid-template-columns: repeat(2, 1fr) 2fr;
        row-gap: 0;
    }
}


