@use '../base' as base;
@use '../mixin' as mixin;

/*====================================================================
ページ共通スタイル
====================================================================*/

/*

@include mixin.media(pc) {

}

font-size: mixin.rem(22);

*/ 


// un-shop
//=====================================
.un-shop {

}

.un-shop__layout {
    display: grid;
    gap: 24px;
    margin-top: 42px;
    
    @include mixin.media(pc) {
        margin-top: 56px;
        gap: clamp(16px, 5.33vw, 64px);
    }

    @for $i from 1 through 4 { 
        &:where(.col-0#{$i}) {
            @include mixin.media(pc) {
                grid-template-columns: repeat(#{$i}, 1fr);
                grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
            }
        }
    }
}