@use '../base' as base;
@use '../mixin' as mixin;

// un-newsIndex
//=====================================

.un-newsIndex {
    margin-top: 80px;
}

.un-newsIndex__list {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr;

    @include mixin.media(pc) {
        gap: clamp(16px,  3.75vw, 46px);
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
}

.un-newsIndex__link {
    text-decoration: none;
}


// un-news
//=====================================
.un-news__thumbnail {
    max-width: 990px;
    width: 100%;
    margin-top: 32px;
    margin-inline: auto;
    padding: 0 40px;

    @include mixin.media(pc) {
        margin-top: 42px;
        padding: 0 80px;
    }
    
    :where(img) {
        vertical-align: bottom;
        border-radius: 10px;
    
        @include mixin.media(pc) {
            border-radius: 20px;
        }
    }
}

