@use '../base' as base;
@use '../mixin' as mixin;

// m-breadcrumb
//=====================================
.breadcrumbs {
    padding: 60px 40px 0;
    display: flex;
    justify-content: center;
    column-gap: 8px;
    align-items: center;
    font-size: mixin.rem(14);
    
    :where(*) {
        color: base.$font_sub_dark_color;
        text-decoration: none;
    }

    @include mixin.media(pc) {
        padding: 96px 80px 0;
    }
} 

.m-breadcrumb__arrow {
    background-image: url('../../common/img/icon_common_14.svg');
    width: 9px;
    height: 7px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}