@use '../base' as base;
@use '../mixin' as mixin;

// m-header
//=====================================
.m-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
}

.m-header__inner {
    padding: 60px 40px 0;
    max-width: 1200px;
    box-sizing: content-box;
    margin-inline: auto;
    
    @include mixin.media(pc){
        padding: 80px 80px 0;
    }
}

.m-header__layout {
    display: flex;
    justify-content: space-between;
}

.m-header__media {
    width: 50%;
    display: none;

    @include mixin.media(pc){
        display: block;
    }

    :where(img) {
        border-radius: 10px;
    }
}

.m-header__logo,
.m-header__infoLogo {
    width: 70px;
    
    @include mixin.media(pc){
        width: 125px;
    }

    :where(img) {
        vertical-align: bottom;
    }
}

.m-header__contents {
    display: none;
    position: absolute;
    width: 100vw;
    left: 0;
    top: 0;
    background-color: base.$background_base_color;
    height: 100vh;
    
    .is-active & {
        display: block;
    }
}

.m-header__contentsInner {
    display: flex;
    column-gap: 5%;
    padding: 60px 40px 0;

    margin-inline: auto;
    
    @include mixin.media(pc){
        padding: 80px 80px 0;
    }
}

.m-header__button {
    position: relative;
    background-color: inherit;
    border: none;
    background-image: url('../../common/img/icon_common_07.svg');
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    color: base.$font_base_color;
    padding: 0;
    z-index: 1;

    @include mixin.media(pc){
        width: 56px;
        height: 50px;
    }
    
    .is-active & {
        background-image: url('../../common/img/icon_common_10.svg');
    }
}

.m-header__buttonText {
    display: inline-block;
    padding-top: 23px;
}

.m-header__infoInner {
    display: flex;
    column-gap: 50px;
    align-items: center;
}

.m-header__info {
    width: 100%;

    @include mixin.media(pc){
        width: 50%;
    }
}
.m-header__info {
    width: 100%;

    @include mixin.media(pc){
        width: 50%;
    }
}

.m-header__list {
    display: none;
    column-gap: 25px;
    align-items: center;
    
    @include mixin.media(pc){
        display: flex;
    }
}

.m-header__link {
    width: 20px;
}

.m-header__nav {
    @include mixin.media(pc){
        position: relative;
        height: 100%;
        width: 100%;
    }
}

.m-header__navList {
    display: flex;
    width: 100%;
    margin-top: 100px;
    gap: 36px;
    flex-direction: column;
    
    @include mixin.media(pc){
        position: absolute;
        top: 22%;
        gap: 40px;
        margin-top: 0;
        flex-direction: row;
    }
}

.m-header__navRight,
.m-header__navLeft {
    display: flex;
    flex-direction: column;
    gap: 36px;
    
    @include mixin.media(pc){
        width: calc((100% - 36px) / 2);
    }

}

.m-header__navItem {
    display: flex;
    flex-direction: column;
    
    // @include mixin.media(pc){
    //     column-count: 2;
    // }
}

.m-header__navLink {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.m-header__navText {
    color: base.$font_base_color;
    font-size: mixin.rem(16);
    line-height: 1.4;

    @include mixin.media(pc){
        font-size: mixin.rem(22);
    }
}

.m-header__navSubText {
    color: base.$font_sub_color;
    font-size: mixin.rem(12);
    line-height: 1.4;

    // @include mixin.media(pc){
    //     font-size: mixin.rem(22);
    // }
}




