@use '../base' as base;
@use '../mixin' as mixin;

// m-list
//=====================================

.m-list {
    margin-top: 32px;

    &.col-02 {
        @include mixin.media(pc) {
            column-count: 2;
        }
    }
}

.m-list__item {
    font-size: mixin.rem(12);
    position: relative;
    padding-left: 16px;

    &::before{
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        background-color: base.$background_light_color;
        left: 0;
        top: 9px;
        border-radius: 25em;
    }

    @include mixin.media(pc){
        font-size: mixin.rem(16);

        &::before{
            top: 14px;
        }
    }
}

// m-list-desc
//=====================================

.m-list-desc {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 10px 20px;
}

.m-list-descItem {
    display: contents;
}


// m-list-columns
//=====================================

.m-list-columns {
    margin-bottom: -20px;

    @include mixin.media(pc) {
        @for $i from 2 through 4 { 
            &.col-0#{$i} {
                column-count: #{$i};
            }
        }
    }
}
