@use '../base' as base;
@use '../mixin' as mixin;

// m-list
//=====================================

.m-list {
    margin-top: 32px;
}

.m-list__item {
    font-size: mixin.rem(12);
    position: relative;
    padding-left: 16px;

    &::before{
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        background-color: base.$background_light_color;
        left: 0;
        top: 9px;
        border-radius: 25em;
    }

    @include mixin.media(pc){
        font-size: mixin.rem(16);

        &::before{
            top: 14px;
        }
    }
}