@use '../base' as base;
@use '../mixin' as mixin;

// m-menu
//=====================================

.m-media {
    position: relative;
}

.m-mediaBubble {
    position: absolute;
    top: -24px;
    left: -22px;
    width: 65%;
}

.m-media__media {
    :where(img) {
        vertical-align: bottom;
        border-radius: 10px;

        @include mixin.media(pc){
            border-radius: 20px;
        }
    }
}

.m-media__text {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    margin-top: 8px;
}

.m-media__textMenu,
.m-media__price {
    font-size: mixin.rem(14);
    font-weight: bold;

    .m-menu--large & {
        font-size: mixin.rem(16);

        @include mixin.media(pc){
            font-size: mixin.rem(22);
        }
    }
}

.m-media__textMenu {
    line-height: 1.8;
}

.m-media__price {
    display: flex;
    width: fit-content;
    margin-left: auto;
    line-height: 1;
    align-items: center;
}

.m-media__desc {
    font-size: mixin.rem(12);
    margin-top: 10px;
    font-weight: normal;
    
    @include mixin.media(pc){
        font-size: mixin.rem(14);
        margin-top: 16px;
    }
}

.m-media__label {
    margin-top: 10px;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;

    @include mixin.media(pc){
        margin-top: 16px;
    }
}

.m-media__labelItem {
    line-height: 1;
    padding: 8px 14px;
    font-size: mixin.rem(10);
    background-color: base.$font_sub_dark_color;
    color: base.$base_light_dark3;
    border-radius: 25em;

    @include mixin.media(pc){
        font-size: mixin.rem(12);
    }
}

.m-media__body {
    margin-top: 10px;

    @include mixin.media(pc){
        margin-top: 18px;
    }
}

.m-media__time {
    font-size: mixin.rem(14);
    font-weight: bold;
    letter-spacing: .1;
    line-height: 1;
    color: base.$base_light_dark3;

    @include mixin.media(pc){
        font-size: mixin.rem(12);
    }
}

.m-media__title {
    font-size: mixin.rem(14);
    color: base.$font_base_color;
    
    @include mixin.media(pc){
        margin-top: 6px;
        font-size: mixin.rem(16);
    }
}


// m-menu-category
//=====================================

.m-menu-category {

}