@use '../base' as base;
@use '../mixin' as mixin;

// m-menu
//=====================================

.m-menu__contents {
    position: relative;
}

.m-menu__contentsBubble {
    position: absolute;
    top: -24px;
    left: -22px;
    width: 75%;

    @include mixin.media(pc){
        width: 65%;
    }
}

.m-menu__media {
    :where(img) {
        vertical-align: bottom;
        border-radius: 10px;

        @include mixin.media(pc){
            border-radius: 20px;
        }
    }
}

.m-menu__text {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    margin-top: 8px;
}

.m-menu__textMenu,
.m-menu__price {
    font-size: mixin.rem(12);
    font-weight: bold;

    .m-menu--large & {
        font-size: mixin.rem(16);

        @include mixin.media(pc){
            font-size: mixin.rem(22);
        }
    }
}

.m-menu__textMenu {
    line-height: 1.8;
}

.m-menu__price {
    display: flex;
    width: fit-content;
    margin-left: auto;
    line-height: 1;
    align-items: center;
}

.m-menu__desc {
    font-size: mixin.rem(12);
    margin-top: 16px;

    @include mixin.media(pc){
        font-size: mixin.rem(14);
    }
}

.m-menu__label {
    margin-top: 16px;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.m-menu__labelItem {
    line-height: 1;
    padding: 8px 14px;
    font-size: mixin.rem(10);
    background-color: base.$font_sub_dark_color;
    color: #aaa;
    border-radius: 25em;

    @include mixin.media(pc){
        font-size: mixin.rem(12);
    }
}