@use '../base' as base;
@use '../mixin' as mixin;

// m-mv
//=====================================

.m-mv {
    position: relative;
    z-index: 100;
    max-width: 916px;
    margin-inline: auto;
    box-sizing: content-box;
    width: calc(100% - 70px - 40px - 100px);

    @include mixin.media(pc){
        width: calc(100% - 125px - 56px - 220px);
    }
}

.m-mv__inner {
    margin-inline: auto;

    @include mixin.media(pc){
        font-size: mixin.rem(16);

        &::before{
            top: 14px;
        }
    }
}

.m-mv__heading {
    padding: 60px 0 0;
    text-align: center;
    
    @include mixin.media(pc){
        padding: 80px 0 0;
    }

    >:where(:first-child) {
        margin-top: 0;
    }
}

.m-mv__headingText,
.m-mv__headingSubText {
    line-height: 1;
}

.m-mv__headingText {
    font-size: mixin.rem(22);
    
    @include mixin.media(pc){
        font-size: mixin.rem(36);
    }
}

.m-mv__headingDate {
    margin-top: 20px;
    font-size: mixin.rem(16);
    color: base.$base_light_dark3;
    display: block;
    
    @include mixin.media(pc){
        font-size: mixin.rem(22);
    }
}

.m-mv__headingSubText {
    font-size: mixin.rem(14);
    margin-top: 8px;
    color: base.$base_light_dark3;
}

.m-mv__text {
    margin: 64px calc(50% - 50vw) 0;
    width: 100vw;
    text-align: center;
    padding: 0 40px;
    
    @include mixin.media(pc){
        margin-top: 84px;
        padding: 0 80px;
    }
}

.m-mv__textItem {
    font-size: mixin.rem(12);
        
    @include mixin.media(pc){
        font-size: mixin.rem(14);
    }
}

.m-mv__title {
    font-size: mixin.rem(24);
        
    @include mixin.media(pc){
        font-size: mixin.rem(28);
    }
}

